/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  } */


.social img {
    margin: 0px;
    border-radius: 50%;
    width: 150px;
    height:150px;
    border: none;
    padding: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 40px; 
   
 } 



#contact {
    /* padding-bottom: 200px; */
    margin-top: 100px;
}

 .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    /* width: 85%; */
    padding-bottom: 30px;
    text-align: center;
 }

  .banner-text { width: 100%; }
  .banner-text h3 {
    font: 35px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    /* margin: 0 auto 18px auto; */
    /* text-shadow: 0px 1px 3px rgba(0, 0, 0, .8); */
 }
 .banner-text h5 {
    font:  20px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    color: #2b2929;
    margin: 0 auto;
    width: 70%;
    /* text-shadow: 0px 1px 2px rgba(0, 0, 0, .5); */
 }
  .banner-text h5 span,
  /* .banner-text h5 a {
    color: #fff;
 } */
 .banner-text hr {
    width: 60%;
    /* margin: 18px auto 24px auto; */
    border-color: #2F2D2E;
    border-color: rgba(150, 150, 150, .1);
 }
 
 /* header social links */
  .social {
    
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
 }
  .social li {
    display: inline-block;
   
    padding: 0;
 }
 .social li a { color: #fff; }
 .social li a:hover { color: #11ABB0; }
 

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #4967ec;
}


/* social media icon style */

 
#contact img:hover  {
  transform: skew(-10deg);
}


/* typewriter effect */

.typewriterNew h5 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange;  */
  /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 6s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}




/* smaller screens
--------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

  /* block grids on small screens */
  .s-bgrid-sixths [class*="column"]   { width: 16.66667%; }
  .s-bgrid-quarters [class*="column"] { width: 25%; }
  .s-bgrid-thirds [class*="column"]   { width: 33.33333%; }
  .s-bgrid-halves [class*="column"]   { width: 50%; }

  /* block grids left clearing */
  .first { clear: none; }
  .s-first { clear: left; }

}

/* mobile wide/smaller tablets
--------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

  .row {
    width: 460px;
    margin: 0 auto;
     padding: 0;
 }
  .column, .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
     padding: 0 30px;
  }
  .row .row { width: auto; max-width: none; margin: 0 -30px; }

  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: none; }

  /* Offsets */
  .row .offset-1    { margin-left: 0%; }
  .row .offset-2    { margin-left: 0%; }
  .row .offset-3    { margin-left: 0%; }
  .row .offset-4    { margin-left: 0%; }
  .row .offset-5    { margin-left: 0%; }
  .row .offset-6    { margin-left: 0%; }
  .row .offset-7    { margin-left: 0%; }
  .row .offset-8    { margin-left: 0%; }
  .row .offset-9    { margin-left: 0%; }
  .row .offset-10   { margin-left: 0%; }
  .row .offset-11   { margin-left: 0%; }
}

/* mobile narrow
--------------------------------------------------------------- */
@media only screen and (max-width: 460px) {

  .row { width: auto; }

}

/* larger screens
--------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  .wide .row { max-width: 1180px; }

}
