img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
  }

  .socialMedia {
    height: 40px;
    padding: 5;
    margin: 5;
    width: 40px;
}


.card-img-top img{
    width: 100%;
    min-height: 14vw;
    object-fit: cover;
    vertical-align: middle;
    
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: darkgrey;
    text-align: center;
    border-top: 5px solid darkslategray;
    position: absolute;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .justify-content-center {
    justify-content: center;
  }


  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  @media screen and (max-width: 494px) {
    .card-img-top {
      width: 11rem !important;
    }
  }
  